/* ===============================================================================
   BARRA PRINCIPAL
==================================================================================*/

.eww_bar {
  background-color: $background;
  padding: 0.2rem;
  border-radius: 8px;
  min-width: 30px;
  min-height: 700px;
}

