/* ===============================================================================
   BARRA PRINCIPAL
==================================================================================*/

.eww_bar {
  background-color: $background;
  padding: 0px 0px 0px 0px;
  border-radius: 8px;
  min-width: 25px;
  min-height: 1000px;
}

