/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/

* {
  all: unset;
}

$background: #0a0a0a;       
$foreground: #FFFFFF;       
$contrastbg: #1c1c1c;

$ambar: #FFBF00;
$gray1: #BFBFBF;
$gray2: #999999;

$black: #0a0a0a;
$gray: #1e1e1e;
$red: #FF3333;
$green: #00FF88;
$yellow: #FFFF33;
$blue: #3399FF;
$magenta: #FF33FF;
$cyan: #33FFFF;
$white: $foreground;
$archlogo: #0f94d2;
$none: #00000000;

