/* ===============================================================================
   RELOJ
==================================================================================*/

.time {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 1.4em;
  background-color: $contrastbg;
  color: $white;
  border-radius: 8px;
  padding: 5px 2px;
  margin: 0.5rem 0.7rem 0.9rem 0.7rem;
}

