/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/

* {
  all: unset;
}

$background: #061115;       // fondo principal oscuro
$foreground: #FFFFFF;       // texto base brillante
$contrastbg: #1c252c;       //contraste oscuro para widgets y barras

$ambar: #FFBF00;
$gray1: #BFBFBF;
$gray2: #999999;

$black: #0a0a0a;
$gray: #1e1e1e;
$red: #FF3333;       // rojo fosforescente
$green: #00FF88;     // verde fosforescente
$yellow: #FFFF33;    // amarillo fosforescente
$blue: #3399FF;      // azul intenso
$magenta: #FF33FF;   // magenta fuerte
$cyan: #33FFFF;      // cyan brillante
$white: $foreground;
$archlogo: #0f94d2;
$none: #00000000;

/* ===============================================================================
   BARRA PRINCIPAL
==================================================================================*/

.eww_bar {
  background-color: $background;
  padding: 0.2rem;
  border-radius: 8px;
  min-width: 30px;
  min-height: 700px;
}

/* ===============================================================================
   ICONOS Y WIDGETS
==================================================================================*/

.launcher_icon {
  color: $archlogo;
  font-family: "Material Design Icons Desktop";
  font-size: 1em;
  padding: 1.5rem 0; 
}

.imagen_widget {
  background-repeat: no-repeat;
  background-size: 40px;
  min-height: 40px;
  min-width: 40px;
  margin-top: 0.7rem;
  background-position: center;
  border-radius: 25px;
  margin: 0.7rem 1rem;
}

/* ===============================================================================
   WORKSPACES
==================================================================================*/

.works {
  font-family: "Material Design Icons Desktop";
  padding: 5px 16px;
  background-color: $background ;
  border-radius: 8px;
}

.workspace-focused {
  font-size: 19px;
  color: $yellow;   // amarillo fosforescente
  margin: 5px 2px;
}

.workspace-occupied {
  font-size: 19px;
  color: $cyan;     // cyan fosforescente
  margin: 5px 3px;
}

.workspace-empty {
  font-size: 19px;
  color: $gray2;
  margin: 5px 2px;
}

/* ===============================================================================
   CONTROLS Y ICONOS DE TRAY
==================================================================================*/

.control { 
  background: $contrastbg;
  border-radius: 8px;
  padding: 2px 2px;
  margin: 0.5rem 0.7rem;
}

.trayicon {
  background-repeat: no-repeat;
  background-size: 35px;
  min-height: 35px;
  min-width: 35px;
  border-radius: 25px;
  margin: 0.5rem 0.3rem;
}

/* ===============================================================================
   VOLUMEN
==================================================================================*/

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: 0.3rem 0 0.3rem 0.1rem;
}

.volbar trough highlight {
  background: linear-gradient($green, $yellow, $ambar, $red);
  border-radius: 5px;
}

/* ===============================================================================
   RELOJ
==================================================================================*/

.time {
  font-family: "Iosevka";
  font-weight: bold;
  font-size: 1.4em;
  background-color: $contrastbg;
  color: $white;
  border-radius: 8px;
  padding: 5px 2px;
  margin: 0.5rem 0.7rem 0.9rem 0.7rem;
}

/* ===============================================================================
   TERMINALES
==================================================================================*/

.terminal {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    margin: 0.3rem 0.2em 0.2em 0.3em;

    button {
        font-size: 1em;
        color: $green;     // terminal normal verde fosforescente

        &:hover {
            color: $blue;
        }
    }
}

.terminalpowershell {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    margin: 0.3rem 0.2em 0.2em 0.3em;

    button {
        font-size: 1em;
        color: $magenta;  // PowerShell magenta fosforescente

        &:hover {
            color: $cyan;
        }
    }
}

.browser {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    margin: 0.3rem 0.2em 0.3em 0.3em;

    button {
        font-size: 1em;
        color: $yellow;

        &:hover {
            color: $blue;
        }
    }
}
