/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/

* {
  all: unset;
}

$background: #061115;
$foreground: #dadada;
$contrastbg: #22292b;

$ambar: #FFBF00;
$gray1: #BFBFBF;
$gray2: #999999;

$black: #1c1c1c;
$gray: #1c1e27;
$red: #dd6777;
$green: #90ceaa;
$yellow: #ecd3a0;
$blue: #86aaec;
$magenta: #c296eb;
$cyan: #93cee9;
$white: $foreground;
$archlogo: #0f94d2;
$none: #00000000;

/* ===============================================================================
   BARRA PRINCIPAL
==================================================================================*/


.eww_bar {
  background-color: $background;
  padding: 0.2rem;
  border-radius:8px;
  min-width: 30px;
  min-height: 700px;
}

/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/



.launcher_icon {
  color: $archlogo;
  font-family: "Material Design Icons Desktop";
  font-size: 1em;
  padding: 1.2rem 0; 
}

.imagen_widget {
  background-repeat: no-repeat;
  background-size: 40px;
  min-height: 40px;
  min-width: 40px;
  margin: 0 0 0 0 ; 
  background-position: center;
  border-radius: 25px;
  
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/


.works {
  font-family: "Material Design Icons Desktop";
  padding: 5px 16px;
  background-color: $contrastbg;
  border-radius: 8px;
  
}

.workspace-focused {
  font-size: 19px;
  color: $ambar;
  margin: 5px 2px;
}

.workspace-occupied {
  font-size: 19px;
  color: $gray1;
  margin: 5px 3px;
}

.workspace-empty {
  font-size: 19px;
  color: $gray2;
  margin: 5px 2px;
}

/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/

.control { 
  background: $contrastbg;
  border-radius: 8px;
  padding: 2px 2px;
  margin: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.trayicon {
  background-repeat: no-repeat;
  background-size: 35px;
  min-height: 35px;
  min-width: 35px;
  border-radius: 25px;
  margin: 0.5rem 0.3rem 0.5rem 0.3rem;
}

/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/


scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: 0.3rem 0 0.3rem 0.1rem;
}

.volbar trough highlight {
  background: linear-gradient(#66BB6A, #FDD835,#FFA726, #EF5350);
  border-radius: 5px;
}

/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/

.time {
  font-family: "Iosevka";
  font-weight: bold;
  font-size: 1.4em;
  background-color: $contrastbg;
  color: $white;
  border-radius: 8px;
  padding: 5px 2px;
  margin: 0.5rem 0.7rem 0.9rem 0.7rem;

}

/* ===============================================================================
   RESET Y COLORES BASE
==================================================================================*/


.terminal {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    margin-top: 0.5rem;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.3em;

    button {
        font-size: 1em;
        color: $red;

        &:hover {
            color: $blue;
        }
    }
}
.terminalpowershell {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    margin-top: 0.3rem;
    margin-right: 0.2em;
    margin-bottom: 0.4em;
    margin-left: 0.3em;

    button {
        font-size: 1em;
        color: #FF0000;

        &:hover {
            color: $blue;
        }
    }
}

.browser {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    margin-top: 0.3rem;
    margin-right: 0.2em;
    margin-bottom: 0.3em;
    margin-left: 0.3em;


    button {
        font-size: 1em;
        color: $yellow;

        &:hover {
            color: $blue;
        }
    }
}
